@tailwind base;
@tailwind components;
@tailwind utilities;

/* Datatable */
.table td:first-child, .table th:first-child, .table tr:first-child {
    padding-left: 7px;
}

.dataTables_wrapper #bottom {
    justify-content: space-between;
}

/* width */
.hi-mw-150 {
    max-width: 150px;
}

.hi-mw-250 {
    max-width: 250px;
}

/* Breadcrumb */
.breadcrumb-arrow .breadcrumb-item:after {
    content: "\00BB";
}

.breadcrumb-arrow .breadcrumb-item:last-child a {
    color: #a1a5b7 !important;
}

/* Form */
.hi_preview_image_container {
    max-width: 250px;
    position: relative;
    margin-top: 10px;
}

.hi_preview_image_close {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    vertical-align: middle;
    right: 5px;
    top: 5px;
}

.hi_preview_image_close .fas {
    position: absolute;
    top: 3px;
    left: 6px;
    color: #fff;
}

/* Genre Selection */
.genre-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    gap: 30px;
}

.single-genre {
    outline: 1px dashed #E1E3EA;
    border-radius: 0.625rem;
    cursor: pointer;
    position: relative;
    transition: all 0.3s linear;
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    min-height: 100px;
    padding: 10px;
}

.single-genre.active {
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    outline: 1px dashed #009ef7;
}

.single-genre.disabled {
    pointer-events: none;
    cursor: pointer;
    box-shadow: none;
    outline-color: #E1E3EA;
}

.single-genre.disabled span {
    color: #E1E3EA !important;
    font-weight: normal !important;
}

.single-genre.disabled img {
    opacity: .4;
}

/*Permission Card*/
.individual-permission{
    padding-bottom: 1.5rem;
}
.individual-permission.card > .card-body {
    padding: 0.5rem 0 0 0;
}
